<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${nameAndTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/DarkTheme/stylesheet.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
</head>

<body>

    <div id="top-nav">
        <div id="search">
            <form action="#" th:action="@{/champion}" th:object="${search}" method="post">
                <input type="text" placeholder="Search Champions.." autocomplete="off" th:field="*{query}" />
            </form>
        </div>
    </div>


    <div id="title">
        <img class="head" th:src="${championStaticImage}"/>
        <h1 class="head" th:text="${nameAndTitle}"/>
    </div>

    <div id="base-statistics">
        <h2>Base Statistics</h2>

        <table>
            <tr>
                <td>Health </td> <td th:text="${hp + ' +(' + hpperlevel + ')'}"></td>
            </tr>
            <tr>
                <td>Health Regen </td> <td th:text="${hpregen + ' +(' + hpregenperlevel+ ')'}"></td>
            </tr>
            <tr>
                <td>Mana Points </td> <td th:text="${mp  + ' +(' + mpperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Attack Damage </td> <td th:text="${attackdamage  + ' +(' + attackdamageperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Attack Speed </td> <td th:text="${attackspeed  + ' +(' + attackspeedperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Armour </td> <td th:text="${armor  + ' +(' + armorperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Magic Resist </td> <td th:text="${magicresist  + ' +(' + magicresistperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Movement Speed </td> <td th:text="${movespeed}"/>
            </tr>
        </table>
    </div>


    <div id="average-stats">
        <h2>Average Player-base Statistics</h2>

        <div>

            <table class="average-table">
                <td class="average-table-header">Wins</td>
                <tr>
                    <td>Total Wins</td><td th:text="${wins}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${winsFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Losses</td>
                <tr>
                    <td>Total Losses</td><td th:text="${losses}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${lossesFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Kills</td>
                <tr th:each="item: ${killsStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr>
                    <td>kills</td>
                    <td>Frequency</td>
                </tr>
                <tr th:each="item: ${killsFrequency}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Deaths</td>
                <tr th:each="item: ${deathsStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr>
                    <td>Deaths</td>
                    <td>Frequency</td>
                </tr>
                <tr th:each="item: ${deathsFrequency}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Assists</td>
                <tr th:each="item: ${assistStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr>
                    <td>Assists</td>
                    <td>Frequency</td>
                </tr>
                <tr th:each="item: ${assistsFrequency}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td  class="average-table-header">Minion Kills</td>
                <tr th:each="item: ${csStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${csFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>


        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Total Damage Dealt</td>
                <tr th:each="item: ${totalDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${totalDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Physical Damage Dealt</td>
                <tr th:each="item: ${physicalDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${physicalDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Magic Damage Dealt</td>
                <tr th:each="item: ${magicDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${magicDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">True Damage Dealt</td>
                <tr th:each="item: ${trueDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${trueDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table class="average-table">
                <td class="average-table-header">Total Damage Taken</td>
                <tr th:each="item: ${totalDamageTakenStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table class="histogram-table">
                <tr class="histogram-table-header"><td>Histogram</td></tr>
                <tr th:each="item: ${totalDamageTakenFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

    </div>


    <!--<script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${nameAndTitle}]]*/ 'nameAndTitle';
        console.log(message);

        /*]]>*/
    </script>-->
</body>

</html>
