<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>League Analyser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/DarkTheme/stylesheet.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
</head>

<body>

    <div id="title">
        <img class="head" th:src="${championStaticImage}"/>
        <h1 class="head" th:text="${nameAndTitle}"/>
    </div>

    <!--<p th:text="${ddragonChampionData}" />-->

    <div id="base-statistics">
        <h2>Base Statistics</h2>

        <table>
            <tr>
                <td>Health </td> <td th:text="${hp + ' +(' + hpperlevel + ')'}"/>
            </tr>
            <tr>
                <td>Health Regen </td> <td th:text="${hpregen + ' +(' + hpregenperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Mana Points </td> <td th:text="${mp  + ' +(' + mpperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Attack Damage </td> <td th:text="${attackdamage  + ' +(' + attackdamageperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Attack Speed </td> <td th:text="${attackspeed  + ' +(' + attackspeedperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Armour </td> <td th:text="${armor  + ' +(' + armorperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Magic Resist </td> <td th:text="${magicresist  + ' +(' + magicresistperlevel+ ')'}"/>
            </tr>
            <tr>
                <td>Movement Speed </td> <td th:text="${movespeed}"/>
            </tr>
        </table>
    </div>


    <div id="average-stats">
        <h2>Average Player-base Statistics</h2>

        <div>

            <table>
                <th>Wins</th>
                <tr>
                    <td>Total Wins</td><td th:text="${wins}"/>
                </tr>
            </table>
            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${winsFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Losses</th>
                <tr>
                    <td>Total Losses</td><td th:text="${losses}"/>
                </tr>
            </table>
            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${lossesFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Kills</th>
                <tr th:each="item: ${killsStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr>
                    <td>kills</td>
                    <td>Frequency</td>
                </tr>
                <tr th:each="item: ${killsFrequency}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Deaths</th>
                <tr th:each="item: ${deathsStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr>
                    <td>Deaths</td>
                    <td>Frequency</td>
                </tr>
                <tr th:each="item: ${deathsFrequency}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Assists</th>
                <tr th:each="item: ${assistStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr>
                    <td>Assists</td>
                    <td>Frequency</td>
                </tr>
                <tr th:each="item: ${assistsFrequency}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Minion Kills</th>
                <tr th:each="item: ${csStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${csFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>


        </div>

        <div>

            <table>
                <th>Total Damage Dealt</th>
                <tr th:each="item: ${totalDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${totalDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Physical Damage Dealt</th>
                <tr th:each="item: ${physicalDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${physicalDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Magic Damage Dealt</th>
                <tr th:each="item: ${magicDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${magicDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>True Damage Dealt</th>
                <tr th:each="item: ${trueDamageDealtStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${trueDamageDealtFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

        <div>

            <table>
                <th>Total Damage Taken</th>
                <tr th:each="item: ${totalDamageTakenStats}">
                    <td th:text="${item.key}"/>
                    <td th:text="${item.value}"/>
                </tr>
            </table>

            <table>
                <tr class="histogram-header">Histogram</tr>
                <tr th:each="item: ${totalDamageTakenFrequency}">
                    <td th:text="${item}"/>
                </tr>
            </table>

        </div>

    </div>


    <!--<script th:inline="javascript">
        /*<![CDATA[*/

        var message = /*[[${nameAndTitle}]]*/ 'nameAndTitle';
        console.log(message);

        /*]]>*/
    </script>-->
</body>

</html>
